name: release

on:
  push:
    tags:
    - 'v*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up git credentials.
      run: |
        git config --local user.email "bm-release@localhost"
        git config --local user.name "bm-release"

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry export --without-hashes -f requirements.txt > requirements.txt
        pip install -r requirements.txt

    - name: Collect version number
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Bundle executable archive
      run: |
        mkdir build
        find . -name __pycache__ -exec rm -rf {} \;
        python -m zipapp --output build/bm --python '/usr/bin/env python3' --main='main:app_run' bm
        cat build/bm | zip > build/bm.zip

    - name: Create release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: "${{ env.RELEASE_VERSION }}"
        release_name: Release ${{ env.RELEASE_VERSION }}
        draft: false
        prerelease: false

    - name: Upload Release Asset (zipfile)
      id: upload-release-asset-zip
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        # This pulls from the CREATE RELEASE step above, referencing it's
        # ID to get its outputs object, which include a `upload_url`.
        # See this blog post for more info:
        # https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: ./build/bm.zip
        asset_name: bm-${{ steps.collect-version.outputs.version }}.zip
        asset_content_type: application/zip
